#Projets{
    padding-bottom: 20vh ;
    background-color: #F1DADA;
    padding-top: 10vh;
    font-size: 50px;
}

#PROJETS{
    font-family: Shit_Pro;
    margin-bottom: 10vh;
    margin-left: 5%;
    color:#251949;
    text-shadow: 2px 2px 15px #F180BD;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #F180BD;
}

#TheTimeLine{
    margin: 0 10px;
}

#TimeLineProjetsElement{
    font-size: 20px;
    position: relative;
}

#TimeLineProjetsElement::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: #251949;
  top: 0;
  bottom: 0;
  left: 50%;
  /* margin-left: -3px; */
  z-index: 1;
}

.ElementOnLeft{
    /* background-color: pink; */
    width: 45%;
    color: #251949;
    box-shadow: 0 4px 8px 0 rgba(37, 25, 73, 0.3), 0 6px 20px 0 rgba(241, 128, 189, 10);

}

.ElementOnRight{
    /* background-color: pink; */
    width: 45%;
    margin-left: 55%;
    box-shadow: 0 4px 8px 0 rgba(37, 25, 73, 0.3), 0 6px 20px 0 rgba(241, 128, 189, 10);
}

.arrowLeft::before {
  content: " ";
  position: absolute;
  z-index: 1;
  border: medium solid #251949;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #251949;
  left : 100%;
  margin-left: 15px;
}

.arrowRight::before {
  content: " ";
  position: absolute;
  z-index: 1;
  border: medium solid #251949;
  border-width: 10px 10px 10px 0;
  border-color: transparent #251949 transparent transparent;
  margin-left: -25px;
  
}

.pointLeft{
    position:relative;
    
}
.pointRight{
    position:relative;
    
}

.pointLeft::after{
    content: "";
    position:absolute;
    top: 0;
    left:110%;
    margin-left: 6px;
    background-color: #251949;
    z-index: 2;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    
}

.pointRight::after{
    content: "";
    position:absolute;
    top: 0;
    background-color: #251949;
    z-index: 2;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    left:-12%;
    margin-left: 2px;    
}


.projetsVideo{
    margin-bottom: 5px;    
}
.projetsName{
    margin-bottom: 5px;
    margin-left: 5px;
}
.projetsDescription{
    margin-bottom: 10px;    
    margin-left: 5px;

}

.projetsLanguage{
    margin-left: 5px;

}

.GIFDemo{
    max-width: 100%;
}
.PNGDemo{
    max-width: 100%;
   
}




@media only screen and (max-width: 1500px) {
    .pointLeft::after{
        left:109%;
        margin-left: 6px;
    }

    .pointRight::after{
        left:-13%;
        margin-left: 2px;
    }
}

@media only screen and (max-width: 1000px) {
    .pointLeft::after{
        left:108%;
        margin-left: 5px;
    }

    .pointRight::after{
        left:-13%;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 500px) {
    #TimeLineProjetsElement{
        font-size: 20px;
        position: relative;
    }   

    #TimeLineProjetsElement::after {
        left: 1vw;
    }

    .ElementOnLeft{
        width: 98%;
        margin-bottom: 100px;
        margin-left: 8px;
    }

    .ElementOnRight{
        width: 98%;
        margin-left: 0%;
        margin-bottom: 100px;
        margin-left: 8px;
    }
    .pointLeft::after{
        left:-4%;
        margin-left: -8px;
        display: none;

    }

    .pointRight::after{
        left:-12%;
        margin-left: 2px;   
        display: none; 
    }

    .arrowLeft::before {
        left : 0%;
        margin-left: -11px;
        border-width: 10px 10px 10px 0;
        border-color: transparent #251949 transparent transparent;
    }

    .arrowRight::before {
        margin-left: -12px;
    }
}