#navBar{
    font-family: Shit_Pro;
    text-align: center;
    font-size: 20px;
    background-image: url("../image/Flux_Dev_Vibrant_cyberpunk_Twitch_panel_background_featuring_a_3.jpg");
    color: white;
    text-shadow: 2px 2px 10px black;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    /* background-position: center; */
    position:fixed;
    width : 100%;
    z-index: 3;
    
}

#listNavBar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding-top: 5px;
}
#listNavBar a {
    text-decoration: none;
        margin: 0 10px;

}

#navAP{
    min-width: 105px;    
}
#navCP{
    min-width: 170px;
}
#navFM{
    min-width: 137px;
}
#navEX{
    min-width: 150px;
}
#navPJ{
    min-width: 110px;
}
#navC{
    min-width: 115px;
}



