.btn-theme-whiteBG{
   
  --bs-btn-bg: #fde4e4;            
  --bs-btn-border-color: #120E0E;  
  --bs-btn-color: #000000;  
  --bs-btn-border-size: 2px;     

  --bs-btn-hover-bg: #251949;      
  --bs-btn-hover-border-color: #F180BD;
  --bs-btn-hover-color: #fff;

  --bs-btn-active-bg: #251949;     
  --bs-btn-active-border-color: #F180BD;
  --bs-btn-active-color: #F180BD; 


  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-border-color);
  color: var(--bs-btn-color);
  border-width : var(--bs-btn-border-size);
  min-width: 150px;
  max-height: 60px;
  
}

.btn-theme-whiteBG:hover {
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  color: var(--bs-btn-hover-color);
}

#A_Propos{
    padding-bottom: 20vh ;
    background-color: #F1DADA;
    padding-top: 10vh;
    font-size: 50px;
}

#APropos{
    font-family: Shit_Pro;
    margin-bottom: 10vh;
    margin-left: 5%;
    color:#251949;
    text-shadow: 2px 2px 15px #F180BD;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #F180BD;
}
#AProposElement{
    display: flex;
    flex-wrap: wrap;
    gap: 10vh;
    justify-content: center;
    min-height: 546px;
    

}


#PhotoProfil{
    max-width: 250px;
    object-fit: cover;

}

.centerScreen{
    display: flex;
    flex-direction: column; 
}

.aProposButton{
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    margin-left: -3vw;
    margin-bottom: 3vh;
    
}

.elementText{
    display: flex;
    flex-wrap: wrap;
    width : 100px;
    min-width: 100%;
    font-size: 20px;
}

#elementPresentation{
    display: flex;
    flex-direction: column;   
    background-color: #F1DADA;
    color: #251949;
    border-left: solid;
    padding: 0 10px;
    font-size: 16px;
    min-height: 432px;


}
#elementLanguage{
    display: flex;
    background-color: #F1DADA;
    color: #251949;
    border-left: solid;
    padding: 0 10px;
    gap:10%;
    flex-wrap: nowrap;
    min-height: 432px;
    


}
.packLanguage{
    flex-direction: column;
    text-align: center;
    margin-top: 25%;
    
    
}

.picFlag{
    min-width: 190px;
    
}
.typeLanguage{
    font-size: 16px;
}

#elementPassion{
    display: flex;
    flex-direction: column;   
    background-color: #F1DADA;
    color: #251949;
    border-left: solid;
    padding: 0 10px;
    font-size: 16px;
    min-height: 432px;
    justify-content: center;
}

#elementSoft{
    display: flex;
    flex-direction: column;   
    background-color: #F1DADA;
    color: #251949;
    border-left: solid;
    padding: 0 10px;
    font-size: 16px;
    min-height: 432px;
    justify-content: center;
}


.isActivate{
    display: flex;
}
.isDeactivate{
    display: none;
}


@media only screen and (max-width: 800px) {
    #elementLanguage{
        flex-wrap: wrap;
    }
    .picFlag{
        min-width: 150px;
    }
  
}

@media only screen and (max-width: 500px) {
    .aProposButton{
    margin-left: 1vw;
    }
    #btnPassions{
        margin-left: 3vw;
        padding: 20px;
    }
    #btnLangues{
        padding: 20px;
    }
    #btnSoftSkills{
        padding: 20px;
    }
    #elementPresentation{
        margin-left: 1vw;
    }

}

@media only screen and (max-width: 322px) {

    #btnLangues{
        margin-left: 10px;
    }
    #btnPassions{
        margin-left: 10px;
    }
    #btnSoftSkills{
        margin-left: 10px;
    }
}