body{
  padding: 0;
}


#pic {
  background-image: url("../image/Flux_Dev_Vibrant_cyberpunk_Twitch_panel_background_featuring_a_3_v2.jpg");
  width: 100%;
  height: 100vh;
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center;
  left: 0px;
}

.TextFirstPic{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 40vh;
  left: 15vw;
  font-family: Shit_Pro;

}

.BaseText {
  color: white;
  font-size: 80px;
}

.description {
  font-size: 30px;
  font-family:Arial;
}

@media only screen and (max-width: 1040px) {
  .BaseText {
    left: 5vw;
  }
}


@media only screen and (max-width: 874px) {
  .BaseText {
    left: 5vw;
  }
  .description {
    font-size: 20px;    
  }
}

@media only screen and (max-width: 533px){
  .BaseText {
    left: 3vw;
    font-size: 60px;

  }
  .description {
    font-size: 20px;
    
    
  }  
}