#cp{
    padding-bottom: 1000px;
    background-color: #251949;
    color:white;
    
    font-family: Shit_Pro;
    text-shadow: 2px 2px 15px #F180BD;
    font-size: 50px;

}

/* #theTitre */