#Experiences{
    padding-bottom: 40vh ;
    background-color: #251949;
    padding-top: 10vh;
    color: white;
}

#EXPERIENCES{
    font-family: Shit_Pro;
    margin-bottom: 20vh;
    margin-left: 5%;
    text-shadow: 2px 2px 15px #f180bd;
    font-size: 50px;
}

#TimeLineExperiencesElement{
    display: flex;
    flex-wrap: nowrap;
    gap : 100px;
    /* background-color: pink; */
    width: 1000%;   
}

.TimeLineElementExperiences{
    width: 500px;
    height: 200px;
    border: solid red;
    text-align: center;
    font-size: 20px;
}