#Experiences{
    padding-bottom: 20vh ;
    background-color: #251949;
    padding-top: 10vh;
    color: white;
}

#EXPERIENCES{
    font-family: Shit_Pro;
    margin-bottom: 10vh;
    margin-left: 5%;
    text-shadow: 2px 2px 15px #f180bd;
    font-size: 50px;
}

#TimeLineExperiencesElement{
    display: flex;
    flex-wrap: nowrap;
    gap : 100px;
    /* background-color: pink; */
    width: 1000%;   
}


.TimeLineElementExperiences:hover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 200px;
    border: solid #F180BD;
    background-color: #F1DADA;
    color: #251949;
    text-align: center;
    font-size: 19px;
    border-radius: 60px; 

}

.TimeLineElementExperiences{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 200px;
    border: solid #f180bd;
    background-color: #251949;
    color: #F1DADA;
    text-align: center;
    font-size: 19px;
    border-radius: 60px; 
    padding: 20px;


}

.timeLineExperiencesName{
    font-size: 23px;
}

.timeLineExperiencesType{
    padding-top: 10px;

}


@media only screen and (max-width: 500px) {
    #EXPERIENCES{
        font-size: 45px;
    }

    #TimeLineExperiencesElement{
        flex-wrap: nowrap;
        flex-direction: column;
        gap : 100px;
        /* width: 10%; */
        max-width: 10%;  
    }
    .TimeLineElementExperiences{
        width: 370px;
        height: 300px;
        margin-left: 2px;
    }
    
}